<Context docBase="<%= @war %>" path="/"
        debug="5" reloadable="true" crossContext="true" allowLinking="true">
  <Environment name="appEnvironment" value="<%= node.chef_environment %>"
          type="java.lang.String" override="false"/>
  
  <Parameter name="dateProvider" value="<%= node[:helloapp][:date_provide_url] %>" override="false"/>
  <Parameter name="connTimeout" value="1000" override="false"/>
  <Parameter name="readTimeout" value="5000" override="false"/>
  
</Context>
